<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>iCloudFund管理平台</h1>
        <hr>
        <p>当前ICC总量XXX个</p>
        <p>1 ICC == 1 USD</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>ICC发行</h2>
            <!-- <hr> -->
            <p>ICC共发行XXX笔, 共XXX个</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>ICC回收</h2>
            <!-- <hr> -->
            <p>ICC共回收XXX笔, 共XXX个</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>存款</h2>
            <!-- <hr> -->
            <p>共存款XXX笔</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>取款</h2>
            <!-- <hr> -->
            <p>共取款XXX笔</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>
