<form role="form" action="form.action" method="post">
  {{range .recipients}}
  <div class="input-group">
  	<input type="radio" class="form-control" name="{{.BankId}}"><h2>{{.Name}} {{.BankName}} {{.BankId}} {{range .Currencies}} {{.}} {{end}}</h2>
  </div>
  {{end}}

  <div class="input-group">
    <span class="input-group-addon" id="depositerName">存款人姓名</span>
    <input type="text" class="form-control" aria-describedby="depositerName">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="depositerBankName">存款人银行名称</span>
    <input type="text" class="form-control" aria-describedby="depositerBankName">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="depositerBankId">存款人银行账号</span>
    <input type="text" class="form-control" aria-describedby="depositerBankId">
  </div>

  {{if .isDeposit}}
  <div class="input-group">
    <span class="input-group-addon" id="currence">币种</span>
    <select name="" id="currency" class="form-control" aria-describedby="currence">
      <option>港元</option>
      <option>美元</option>
      <option>人民币</option>
      <option>欧元</option>
      <option>日元</option>
    </select>
  </div>
  {{end}}
  <div class="input-group">
    <span class="input-group-addon" id="amount">数额</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="amount">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="iccWallet">ICC钱包</span>
    <input type="text" class="form-control" aria-describedby="iccWallet">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
